<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="component-header-miguel">
  <template>
    <style>
      :host {
        display: block;
        
      }

      #title {
  color:greenyellow;
  font-weight:bolder;
  font-size: 20px;
  font-family:Verdana;
  text-transform: uppercase;
  align-content: center;
}

#group-form{

  margin: auto;
  margin-top: 30px;
  width: 530px;
  height: 120px;
  
}

#lefft{
  width: 100px;
  height: 200px;
  float: left;

}
#rightt{
  width: 150px;
  height: 200px;
  float:left;

}
#centerr{
  width: 260px;
  height: 200px;
  float:left;

}
    </style>
    <!--Hello [[prop1]]!</h2-->
    <div id ="group-form">
      <div id="lefft">
        <img src="../bower_components/component-header-miguel/images/palancaMando.png" alt="" width="90" height="90"></img>
      </div>
      <div id="centerr">
        <h1 id="title">Component Header</h1>
      </div>
      <div id="rightt">
        <!--C:\Users\miguel.ramirez\Documents\polymer\repository-component\starter-kit\bower_components\component-header-miguel\images-->
        <img src="../bower_components/component-header-miguel/images/palancaMando.png" alt="" width="90" height="90"></img>
      </div>
    </div>
    
  </template>

  <script>
    /**
     * `component-header-miguel`
     * component-header
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponentHeaderMiguel extends Polymer.Element {
      static get is() { return 'component-header-miguel'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'component-header-miguel'
          }
        };
      }
    }

    window.customElements.define(ComponentHeaderMiguel.is, ComponentHeaderMiguel);
  </script>
</dom-module>
